<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/Neos/Neos/ViewHelpers">
<body>
<f:section name="Main">
    <f:form.textfield type="{element.properties.elementType}"
                      property="{element.identifier}"
                      id="{element.uniqueIdentifier}"
                      class="{element.properties.elementClassAttribute}"
                      placeholder="{element -> form:translateElementProperty(property: 'placeholder')}"
                      maxlength="{element.properties.maxlength}"
                      required="{element.required}"/>
</f:section>
</body>
</html>

