<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/Neos/Neos/ViewHelpers">
<body>
<f:section name="Main">
    <f:form.textfield type="{element.properties.elementType}"
                      property="{element.identifier}"
                      id="{element.uniqueIdentifier}"
                      class="{element.properties.elementClassAttribute}"
                      placeholder="{f:translate(id: 'form.placeholder.{element.identifier}', source: '{element.renderingOptions.translationSource}', package: '{element.renderingOptions.translationPackage}', value: '{element.properties.placeholder}')}"
                      required="{element.required}"/>
</f:section>
</body>
</html>

